---
import Layout from '@layouts/Layout.astro'
export const prerender = true
---

<Layout title="projects">
  <h1>clipflow 🪦</h1>

  <p><i>clipflow.ai (sold domain)</i></p>

  <p>The content clipper that highlights and syncs content, with opt-in AI enhancements.</p>

  <h1>tweak</h1>

  <p><a href="https://tweak-extension.com/" class="panda-link">tweak-extension.com</a></p>

  <p>
    Mock or modify your HTTP requests to test, develop and demo your web application. tweak allows you to mock and
    modify HTTP requests without leaving the browser.
  </p>

  <h1>react-d3-graph</h1>

  <p><a href="https://github.com/danielcaldas/react-d3-graph" class="panda-link">github.com/danielcaldas/react-d3-graph</a></p>

  <p>Interactive and configurable graphs with react and d3 effortlessly.</p>
</Layout>
