---
import {PandaConfig} from '../config'
const {start, footer} = PandaConfig
---

<footer class="mt-12 mb-6 text-sm">
    <div class="mb-1">
        {
            footer &&
                footer.map((item, index) => (
                    <span>
                        <a href={item.url} class="panda-link" target={item.url.startsWith('http') ? '_blank' : undefined} rel={item.url.startsWith('http') ? 'noopener noreferrer' : undefined}>
                            {item.title}
                        </a>
                        {index !== footer.length - 1 && <span class="mx-1">|</span>}
                    </span>
                ))
        }
    </div>
    <div class="mb-1">
        <span>{start}-{new Date().getFullYear()}</span>
    </div>
</footer>
