---
import ThemeIcon from '@components/ThemeIcon.astro'

export const prerender = true
---

<div class="my-6 flex">
  <a href="/" class="hover:cursor-pointer opacity-100 hover:opacity-80 panda-link">
    <i class="hidden">danielcaldas.github.io</i>
    <h1>~/</h1>
  </a>
  <div class="text-sm place-content-center inline ml-auto">
    <ThemeIcon />
  </div>
</div>
